<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Probni</display-name>
  <welcome-file-list>
    <welcome-file>PregledTv.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DodajTvController</display-name>
    <servlet-name>DodajTvController</servlet-name>
    <servlet-class>com.shishi.controller.DodajTvController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajTvController</servlet-name>
    <url-pattern>/dodaj-tv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FiltrirajTvController</display-name>
    <servlet-name>FiltrirajTvController</servlet-name>
    <servlet-class>com.shishi.controller.FiltrirajTvController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FiltrirajTvController</servlet-name>
    <url-pattern>/filtriraj-tv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IzmeniTvController</display-name>
    <servlet-name>IzmeniTvController</servlet-name>
    <servlet-class>com.shishi.controller.IzmeniTvController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IzmeniTvController</servlet-name>
    <url-pattern>/daIzmenim</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObrisiTvController</display-name>
    <servlet-name>ObrisiTvController</servlet-name>
    <servlet-class>com.shishi.controller.ObrisiTvController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObrisiTvController</servlet-name>
    <url-pattern>/daBrisem</url-pattern>
  </servlet-mapping>
</web-app>